.statsPage {
  display: grid;
  gap: 12px;
}

.screenCard-stats {
  display: grid;
  gap: 12px;
}

@media (max-width: 480px) {
  .statsPage {
    gap: 8px;
  }

  .screenCard-stats {
    gap: 8px;
  }
}
