.pageContainer {
  width: 100%;
  max-width: 404px;
  margin: 0 auto;
  padding: 0 10px 24px;
}

.appLayout--workspace .pageContainer {
  max-width: 404px;
}

@media (min-width: 761px) {
  .pageContainer {
    padding: 0 12px 24px;
  }

  .appLayout--workspace .pageContainer {
    max-width: 404px;
  }
}

@media (min-width: 1280px) {
  .appLayout--workspace .pageContainer {
    max-width: 428px;
    padding: 0 14px 32px;
  }
}

@media (max-width: 480px) {
  .pageContainer {
    max-width: 100%;
    padding: 0 8px 12px;
  }
}
