<section class="dataContract">
  <div class="container">
    <div class="appRoot">
      <load src="/features/contracts/view/guest-stage.html" />
      <load src="/features/contracts/view/home-screen.html" />
      <load src="/features/contracts/view/account-screen.html" />
      <load src="/features/contracts/view/stats-screen.html" />
      <load src="/features/contracts/view/orders-screen.html" />
      <load src="/features/contracts/view/bottom-nav.html" />
      <load src="/features/contracts/view/loader.html" />
    </div>
  </div>
</section>
