<section class="dataContract">
  <load src="/shared/view/startup-splash.html" />
  <div class="container">
    <div class="appRoot">
      <load src="/features/admin/view/guest-stage.html" />
      <load src="/features/admin/view/accounts-view.html" />
      <load src="/features/admin/view/subscriptions-view.html" />
      <load src="/features/admin/view/orders-view.html" />
      <load src="/features/admin/view/settings-view.html" />
      <load src="/features/admin/view/bottom-nav.html" />
      <load src="/features/admin/view/loader.html" />
    </div>
  </div>
</section>
